<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Hello!</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- VueJS CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /VueJS CDN -->
</head>
<body>
    <!-- Elemento dentro il quale agisce VueJS -->
    <div id="app">
        <div :class="centering">
            <img v-bind:src="image" :alt="logo">
            <h1>{{ title }}</h1>
        </div>
        <div class="sec">
            <div>Nome</div>
            <input v-model="firstName">
            <div>Cognome</div>
            <input v-model="lastName">
        </div>
        <div class="sec">
            <div>Output:</div>
            <p id="full-name">{{ fullName() }}</p>
        </div>
        <div class="sec">
            <button @click="printText">Cliccami</button>
            <button v-on:click="printText">Cliccami</button>
        </div>
        <div class="sec">
            <ul>
                <input v-model="addItem">
                <button @click="addItemToList">Aggiungi alla lista</button>
                <li v-for="(item, index) in lista" class="list-item" v-on:click="removeFromList" :data-li=index>
                    {{ item }}
                </li>
            </ul>
        </div>
    </div>
    <!-- /Elemento dentro il quale agisce VueJS -->

    <script src="js/main.js"></script>
</body>
</html>